/* Saved Colors */
:root {
    /*--background: #0a2394;*/
    /*--background: linear-gradient(to bottom right, rgba(11, 68, 49, 0.829), rgba(23, 87, 129, 0.315));*/
    --background: radial-gradient( circle, rgba(23, 87, 129, 0.315), rgba(11, 68, 49, 0.829) );
    --light: #f6f2f8;
    --medium: #44475a;
    --dark: #282a36;
    --red: #ff5555;
    --hover-red: #d94846;
  }
  
  * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-weight: normal;
  font-family: 'Lato', sans-serif;
  }
  
  body {
    height: 100%;
    background: var(--background);
    color: var(--dark);
    font: 1rem/1.1 'Lato', sans-serif;
    text-align: center;
  }
  
  main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  }
  
  /* Heading & Form */
  .top-banner {
    color: var(--light);
  }
  
  .heading {
    font-weight: bold;
    font-size: 4rem;
    letter-spacing: 5px;
  }
  
  @media screen and (max-width: 600px) {
    .heading {
      font-size: 3rem;
    }
  }
  
  .mainboxes {
    background: var(--light);
    color: var(--medium);
    overflow: auto;
    border: var(--dark);
    padding: 40px 10%;
    border-radius: 20px;
    text-align: center;
    font-weight: bold;
    font-size: 1.75rem;
    letter-spacing: 0.1em;
    margin: 25px;
    min-width: 750px;
  }

  .top-banner form {
    padding: 10px;
  }
  
  .top-banner form input {
    font-size: 2em;
    height: 45px;
    padding: 5px;
    border-bottom: 1px solid;
  }
  
  .top-banner form input::placeholder {
    color: var(--light); 
  }
  
  .top-banner form button {
    font-size: 1.2rem;
    font-weight: bold;
    letter-spacing: 0.1em;
    padding: 15px;
    margin-left: 15px;
    border-radius: 5px;
    background: var(--red);
    transition: background 0.2s ease-in-out;
  }
  
  .top-banner form button:hover {
    background: var(--hover-red);
  }
  
  button {
    cursor: pointer;
    margin: 5px;
  }
    
  button,
  input {
    border: none;
    background: none;
    outline: none;
    color: inherit;
  }
  
  /* API's */
  .weather, .music{
    background: var(--light);
    color: var(--medium);
    overflow: auto;
    border: var(--dark);
    padding: 40px 10%;
    border-radius: 20px;
    text-align: center;
    font-weight: bold;
    font-size: 1.75rem;
    letter-spacing: 0.1em;
    margin: 25px;
    min-width: 750px;
  }
  
  @media screen and (max-width: 600px) {
    .weather, .music {
      min-width: 250px;
    }
  }
  
  /* Weather Icon */
  .city-ico {
    background-color: var(--light);
    display: inline-block;
    margin: 0 auto;
  }